In [13]:


a =  int(input('enter a no'))


for i in range(2,a):
    if a%i == 1:
        print(' not prime')
        break
else:
    print('prime')

enter a no8
 not prime

In [7]:
b =[1,4,6, 4,1,2,3]
 
set(b)

{1, 2, 3, 4, 6}

In [10]:
num1 = 5

while(num1!=0):
    print('*'*num1)
    num1= num1-1

*****
****
***
**
*

In [11]:
b =[1,4,6, 4,1,2,3]

b[::-1]

[3, 2, 1, 4, 6, 4, 1]

In [ ]:


select distinct name from employee;

select count(name)  from employee group by name

In [ ]:
select * from employees group by dept_id order by salary desc limit 2